a{
    color: rgb(0, 255, 21);
}

nav ul{
    background-color: black;
}

nav a{
    background-color: black;
}

nav{
    background-color: black;
}

header {
    background-color: black;
  }
  
  header h1 {
    color: green;
  }