<h1>Terminos y condiciones</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem mollitia reiciendis, adipisci explicabo corrupti facilis quo libero a ipsa, voluptas voluptatibus labore blanditiis ut cupiditate nemo laudantium sed, amet dolorem?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis id eius at natus. Illo dolore iure vero velit. Ea, a. Autem, architecto nemo culpa inventore voluptatibus consequuntur numquam atque placeat.</p>
<h2>Cookies</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga ea incidunt necessitatibus fugiat corporis nostrum quam, vel dolores eius enim, velit in tempora nesciunt minus blanditiis ipsum? Dignissimos, repellat veritatis!</p>
